#Aba{
  height: 100%;
  width: 0%;
  max-width: 400px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: #FFFFFF;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
  transition: .1s !important;
  border-radius: 0px 20px 20px 0px;
  overflow: hidden;
  padding: 65px 0px 0px 0px !important;
}

#Aba a{
  margin: 5px 0px 10px 25px;
  width: 80%;
  padding: 10px 7px;
  letter-spacing: 2px;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
  background: transparent;
  border-radius: 1px;
  text-transform: capitalize;
}

#Aba a:hover{
  
}
