*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html , body {
  height: 100vh;
  width: 100%;
  background: lightgray;
  scroll-behavior: smooth;
}

body{
  position: relative;
}

@font-face {
  font-family: "geo";
  src: url("../fontes/geo.woff");
}

@font-face {
  font-family: "basic";
  src: url("../fontes/basic.woff");
}

@font-face {
  font-family: "caviar";
  src: url("../fontes/caviar.woff");
}
