body header{
  height: 70px;
  background: #FFFFFF20;
  backdrop-filter: blur(8px);
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 8px #00000030;
  padding: 0px 12px;
  z-index: 3;
}

body header img{
  height: 60px;
  width: 60px;
}

